[run]
omit = droplets/__init__.py
       droplets/tests/test_*.py
       strata/__init__.py
       strata/tests/test_*.py
       strata/dataformats/__init__.py
       strata/dataformats/tests/test_*.py
       strata/dataformats/simple/__init__.py
       strata/dataformats/simple/tests/test_*.py
